%base-card {
  background-color: var(--theme-color-background-card);
  border: 1px solid var(--theme-color-border);
  border-radius: 12px;
}

.inventory-grid {
  &-card {
    @extend %base-card;

    overflow: hidden;

    .cells {
      background-color: var(--theme-color-border);
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
      height: 100%;
    }
  }

  &-cell-card {
    @extend %base-card;

    border: none;
    border-radius: 0;
    
    &.dropzone {
      background-color: white;
    }

    .item {
      align-items: center;
      color: #7d7d7d;
      display: flex;
      font-size: 18px;
      height: 100%;
      justify-content: center;
      position: relative;
      width: 100%;

      .image {
        height: 54px;
        width: 54px;
      }

      .count {
        align-items: center;
        border: 1px solid var(--theme-color-border);
        border-bottom: none;
        border-right: none;
        border-top-left-radius: 6px;
        bottom: 0;
        display: flex;
        font-size: 10px;
        height: 16px;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 16px;
      }
    }
  }
}

.inventory-sidepanel-card {
  @extend %base-card;

  padding: 18px 14px;

  .header,
  .content,
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    gap: 20px;
    margin-bottom: 20px;
  }

  .content {
    gap: 16px;
    margin-bottom: 24px;
  }
}

.inventory-footer-card {
  @extend %base-card;

  padding: 16px 23px;
}
