%base-card {
  background-color: var(--theme-color-background-card);
  border: 1px solid var(--theme-color-border);
  border-radius: 12px;
}

.inventory-sidepanel-card {
  @extend %base-card;

  padding: 18px 14px;

  .header,
  .content,
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    gap: 20px;
    margin-bottom: 20px;
  }

  .content {
    gap: 16px;
    margin-bottom: 24px;
  }
}

.inventory-footer-card {
  @extend %base-card;

  padding: 16px 23px;
}
