.input {
  background-color: var(--theme-color-background-card);
  border: 1px solid var(--theme-color-border);
  border-radius: 4px;
  color: var(--theme-color-text-primary);
  font-size: 14px;
  font-weight: 600;
  outline: none;
  padding: 11px 12px;
}