@use 'sass:color';

$dark: (
  color: (
    background: '#1d1d1d',
    background-skeleton-1: '#3C3C3C',
    background-skeleton-2: '#444444',
    background-skeleton-3: '#333333',
    text-primary: '#FFFFFF',
  ),

  radius: (
    border-base: '12px',
  ),

  padding: (
    app-container: 32px,
  ),
);

/// Define theme map as CSS custom variables
@mixin define-theme($theme-map) {
  @each $section, $map in $theme-map {
    @each $key, $value in $map {
      --theme-#{$section}-#{$key}: #{$value};
    }
  }
}
