@mixin body() {
  background-color: var(--theme-color-background-card);
  border: var(--theme-width-border-base) solid var(--theme-color-border);
  border-radius: var(--theme-radius-border-base);
}

@mixin content() {
  align-items: center;
  display: flex;
  flex-direction: column;
}